{% extends "../home.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	
    <title>Document</title>
</head>
<body>

   {% block  content%}






	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Customer Order Page</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-6">
								<div class="contact-wrap w-100 p-lg-5 p-4">
									<h3 class="mb-4">Send us a message</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST" >
										{% csrf_token %}
										<div class="row">
											{% for each_form in  form%}
											<div class="col-md-12">
												<div class="form-group" >
													{% comment %} <input type="text" class="form-control" name="name" id="name" placeholder="{{ each_form.label }}">  {% endcomment %}
													<label for="formInput#text">{{ each_form.label }}:  </label >
													{{ each_form }}
												</div>
											</div>
											{% endfor %}


											
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>




								</div>
							</div>
							<div class="col-md-6 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-lg-5 p-4 img">

									<div class="mb-3 mt-3">
										<h3><b>Instructions</b></h3>
											<ol>
												<b>Ensure Productname and Quantity are clearly documented and then press "enter" key for next entry.</b>
												
												<br>
												<br>
												<li><b>Example format: Productname,Quantity,Cost</li></b>
						
												<li><p>example format 1: Lifeboysoap 125gms,12 pieces,NA</p></li>
												<li><p>example format 2: Sunsilk black,1 case,Rs/-1</p></li>
												<li><p>example format 3: Bru,5 pieces,Rs/-5</p></li>
											  
											</ol>
										</div>
									<br>
									<h3><b>Contact us</b></h3>
									<p class="mb-4">We're open for any suggestion or just to have a chat</p>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Address:</span> Door No: 12-266, Aadarsh Nagar, Kakkalapalli Colony, Anantapur Rural</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Phone: </span> 7207120730<a href="tel://1234567920"></a></p>
					          </div>
				          </div>
						  <div class="dbox w-100 d-flex align-items-center">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-phone"></span>
							</div>
							<div class="text pl-3">
							<p><span>Alternate Phone:</span>  9949458974 <a href="tel://1234567920"></a></p>
						  </div>
					  </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Email: </span> naga.raju745@gmail.com<a href="mailto:"></a></p>
					          </div>
				          </div>

						  
				        	
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


      
    {% endblock content %}
    
</body>
</html>